@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
:root{
    --primary-color: #ddf8ff;
    --secondary-color: #000000;
    --tertiary-color: #9ef4ff;
    --quaternary-color: #93c8e1;
    --font1: montserrat, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font1);
}

footer {
  font-size: large;
}

main {
  background-color: var(--secondary-color);
  padding: 3%;
  color: var(--primary-color)
}

h2 {
  text-decoration: underline;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.card {
  width: 18rem;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.nav-link {
  color: var(--secondary-color);
}

.icon {
  padding: 1%;
}

.container {
  width: 500px;
  clear: both
}

.container input, textarea {
  width: 100%;
  clear: both
}





